:root {
    --clr-white: hsl(0, 0%, 100%);
    --clr-pink-100: hsl(275, 100%, 97%);
    --clr-purple-100: hsl(292, 16%, 49%);
    --clr-purple-200: hsl(292, 42%, 14%);
}

body {
    background-color: var(--clr-pink-100);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    min-height: 100svh;
}

.card {
    background-color: var(--clr-white);
    padding: 1.5rem;
    border-radius: 0.5rem;
}

.card-heading {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.card-heading__image {
    max-width: 24px;
    aspect-ratio: 1/1;
}

.card-heading__text {
    font-size: 2rem;
    font-weight: 700;
}

/* Utility Classes */

/* Visually Hidden Utility */
/* Learn more here: [How-to: Hide content - The A11Y Project](https://www.a11yproject.com/posts/how-to-hide-content/) */

.visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
